globantfileupload.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Create_a_pipeline_run_2": {
                        "inputs": {
                            "body": {
                                "file": "@items('For_each')"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/subscriptions/@{encodeURIComponent('60f4c113-70b9-4152-866f-7ea1d342ff65')}/resourcegroups/@{encodeURIComponent('test')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('globantchallengedf')}/pipelines/@{encodeURIComponent('copy files into db')}/CreateRun",
                            "queries": {
                                "x-ms-api-version": "2017-09-01-preview"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@triggerBody()?['files']",
                "runAfter": {},
                "type": "Foreach"
            },
            "Response": {
                "inputs": {
                    "body": "files @{triggerBody()?['files']} will be copied into the DB.",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "files": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuredatafactory": {
                    "connectionId": "/subscriptions/60f4c113-70b9-4152-866f-7ea1d342ff65/resourceGroups/test/providers/Microsoft.Web/connections/azuredatafactory",
                    "connectionName": "azuredatafactory",
                    "id": "/subscriptions/60f4c113-70b9-4152-866f-7ea1d342ff65/providers/Microsoft.Web/locations/eastus/managedApis/azuredatafactory"
                }
            }
        }
    }
}
